<div class="commu-show">
    <div class="commu-left">
        <h1><%= @commu.name %></h1>
        <div class="commu-img">
            <img src="<%= "/commu_images1/#{@commu.image_name1}" %>">
            <img src="<%= "/commu_images2/#{@commu.image_name2}" %>">
            <img src="<%= "/commu_images3/#{@commu.image_name3}" %>">
        </div>
    </div>
    <div class="commu-right">
    </div>
</div>