// Place all the styles related to the commu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commu-show {
    margin: 50px 230px 300px 230px;
    // background-color: #e7eded;
    // background-color: lighten(#e7eded,3%);
}

.commu-top {
    display: flex;
    border-bottom: 1px solid gray;
}

.commu-left {
    flex: 1;
    height: 650px;
    margin-left: 80px;
}

.commu-left h1 {
    text-align: center;
    margin-top: 55px;
}

.commu-img {
    display: flex;
    // overflow-x: scroll;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
}

.commu-img img {
    height: 380px;
    width: 380px;
}

.commu-right {
    flex: 1;
    // background-color: beige;
    padding-top: 100px;
    padding-left: 60px;
    margin-right: 80px;
}

.commu-post-index {
    color: black;
    font-weight: bold;
}

.commu-right h2 {
    margin-bottom: 40px;
}

.create_user_name {
    // text-decoration: none;
    color: black;
}

.create_user_name:hover {
    opacity: 0.6;
}

.commu_member {
    color: black;
}

.commu_member:hover {
    opacity: 0.6;
}

.apply {
    text-align: center;
    line-height: 40px;
}

.apply-btn {
    display: block;
    border: 1px solid rgb(118,118,118);
    height: 40px;
    width: 130px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 5px 0 darken(white, 10%);
    cursor: pointer;
}

.apply-btn:hover {
    opacity: 0.6;
}

.apply-btn:active {
    transform: translateY(5px);
    box-shadow: none;
}

.apply p {
    font-weight: bold;
    text-decoration: none;
}

.commu-bottom {
    margin: 0 100px;
}

.bottom-img {
    display: flex;
    // background-color: #e7eded;
    justify-content: center;
}

.bottom-img img {
    height: 200px;
    width: 200px;
    margin: 0 70px;
    border-radius: 3px;
}

.commu-detail {
    margin-top: 50px;
}

.commu-container {
    margin: 50px 180px 300px 180px;
    background-color: #e7eded;
    background-color: lighten(#e7eded, 3%);
    padding-bottom: 50px;
    height: 800px;
    overflow-y: scroll;
}

.narrow-down {
    // background-color: rgb(240, 244, 248);
    height: 80px;
    border-bottom: 1px solid rgb(102, 102, 102);
    background-color: #e7eded;
    background-color: lighten(#e7eded, 3%);
}


.narrow-down p {
    display: inline-block;
}

.narrow-down select {
    height: 30px;
    width: 85px;
}

.narrow_down-btn input {
    background-color: rgb(243, 243, 243);
    box-shadow: 0 3px 0 darken(rgb(243, 243, 243), 10%);
}

.narrow_down-btn:hover {
    opacity: 0.8;
}

.narrow_down-btn:active {
    box-shadow: none;
    transform: translateY(3px);
}

.commu-area {
    height: 70px;
    display: inline-block;
    line-height: 81px;
    margin-left: 40px;
}

.commu-genre {
    height: 70px;
    display: inline-block;
    line-height: 81px;
}

.commu-index {
    background-color: white;
    display: flex;
    margin: 10px 160px;
    border: 1px solid black;
}

.commu-index-left {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
}

.commu-index-left img {
    height: 130px;
    width: 130px;
}

.commu-index-right {
    flex: 2;
    font-weight: bold;
    margin: 15px 15px 15px 0;
}

.commu-index-name {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.commu-index-name:hover {
    opacity: 0.6;
}

.commu-index-right p {
    font-weight: normal;
    font-size: 13px;
}

.commu-form-h1 {
    text-align: center;
    margin-top: 50px;
}

.commu-form {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 300px;
    width: 800px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: lighten(#e7eded, 3%);
    background-color: #dee6e6;
    font-weight: bold;
}

.commu-form input[type="text"] {
    display: inline;
}

.commu-create-btn {
    display: block;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 5px;
    border: 1px solid rgb(118,118,118);
    border-radius: 10px;
    box-shadow: 0 4px 0 darken(lighten(#e7eded, 3%), 10%);
    cursor: pointer;
}

.commu-create-btn:hover {
    opacity: 0.6;
}

.commu-create-btn:active {
    transform: translateY(4px);
    box-shadow: none;
}