// Place all the styles related to the commu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commu-show {
    display: flex;
    margin: 0 100px;
}

.commu-left {
    flex: 1;
    height: 700px;
    background-color: antiquewhite;
}

.commu-left h1 {
    text-align: center;
    margin-top: 55px;
}

.commu-img {
    display: flex;
    overflow-x: scroll;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
}

.commu-img img {
    height: 380px;
    width: 380px;
}

.commu-right {
    flex: 1;
    background-color: beige;
}

.commu-container {
    height: 800px;
    background-color: antiquewhite;
    margin: 0 100px;
    display: flex;
}

.top-left {
    flex: 1;
    background-color: aliceblue;
}

.top-right {
    flex: 2;
    background-color: rgb(192, 227, 215);
}

.commu-area {
    height: 30px;
    width: 100px;
    // background-color: rgb(196, 166, 144);
}

.commu-area option {
    color: black;
}