// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-index-h2 {
    text-align: center;
    margin-top: 50px;
}

.member-index {
    border: 2px solid black;
    border-radius: 5px;
    height: 398.3px;
    margin: 10px 350px 242.1px 350px;
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
}

.member {
    display: flex;
    margin: 0;
    background-color: white;
    border: 1px solid black;
}

.member-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-img img {
    height: 130px;
    width: 130px;
    margin: 10px;
}

.member-name {
    flex: 2;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.member_name {
    color: black;
    font-size: 20px;
    margin-left: 100px;
}

.member_name:hover {
    opacity: 0.6;
}