// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-index h1 {
    text-align: center;
}

.member-index {
    margin: 10px 160px;
    background-color: rgb(240, 244, 248);
}

.member {
    margin: 5px 230px;
    background-color: white;
    display: flex;
    border: 1px solid black;
}

.member-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-img img {
    height: 130px;
    width: 130px;
    margin: 10px;
}

.member-name {
    flex: 2;
    font-weight: bold;
    display: flex;
    align-items: center;
    
}

.member_name {
    color: black;
    font-size: 20px;
    margin-left: 100px;
}

.member_name:hover {
    opacity: 0.6;
}