<h2 class="member-index-h2"><%= @commu.name %>  メンバー</h2>
<div class="member-index">
    <% @members.each do |member| %>
        <div class="member">
            <div class="member-img">
                <% if member.image_name=="default_user.png" %>
                    <img src="<%= "/user_images/default_user.png" %>">
                <% else %>
                    <img src="<%= "/user_images/#{member.id}" %>">
                <% end %>
            </div>
            <div class="member-name">
                <%= link_to("#{member.name}", "/users/#{member.id}", class: "member_name") %>
            </div>
        </div>
    <% end %>
</div>